<div class="row singlePost">
  <div class="col s12 singlePostHeader">
    <h4>{{singlePost.title}}</h4>
    <p>Post Created By: {{singlePost.user.name}}</p>
  </div>
    <div class="col s12 singlePostBody">
      <p>
        {{singlePost.content}}
      </p>
    </div>
    <div class="col s12 singlePostComment">
      {{#each singlePost.comments as |comment|}}
      <p>
          Comment By: {{comment.user.name}}
      </p>
        <p>
          {{comment.content}}
        </p>
      {{/each}}
    </div>
</div>